* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Lucida Grande";
}

a {
	text-decoration: none;
}

.clear {
	clear: left;
}

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.btn {
	padding: 12px 24px;
	color: white;
	display: inline-block;
	opacity: 0.8;
	border-radius: 4px;
	text-align: center;
}

.btn:hover {
	opacity: 1;
}

.fa {
	margin-right: 5px;
}

/*------------- start tombol ------------------*/
.btn-biru {
	background-color: #2980b9;
	color:#ecf0f1;
}

.btn-hijau {
	background-color: #27ae60;
	color:#ecf0f1;
}

.btn-kuning {
	background-color: #f39c12;
	color:#ecf0f1;
}

.btn-orange {
	background-color: #d35400;
	color:#ecf0f1;
}

.btn-merah {
	background-color: #c0392b;
	color:#ecf0f1;
}
.btn-putih {
	background-color: #ecf0f1;
	color:#2c3e50;
}

.btn-hitam {
	background-color: #2c3e50;
	color:#ecf0f1;
}

.btn-abu {
	background-color: #7f8c8d;
	color:#ecf0f1;
}
/*------------- end tombol ------------------*/

/*------------- start text ------------------*/
.text-biru {
	color:#3498db;
}

.text-hijau {
	color:#2ecc71;
}

.text-kuning {
	color:#f1c40f;
}

.text-orange {
	color:#e67e22;
}

.text-merah {
	color:#e74c3c;
}
.text-putih {
	color:#ecf0f1;
}

.text-hitam {
	color:#34495e;
}

.text-abu {
	color:#95a5a6;
}
/*-------------- end text -------------------*/

/*------------- start background ------------------*/
.bg-biru {
	color:#3498db;
}

.bg-hijau {
	color:#2ecc71;
}

.bg-kuning {
	color:#f1c40f;
}

.bg-orange {
	color:#e67e22;
}

.bg-merah {
	color:#e74c3c;
}
.bg-putih {
	color:#ecf0f1;
}

.bg-hitam {
	color:#34495e;
}

.bg-abu {
	color:#95a5a6;
}
/*------------- end background ------------------*/

