/* For Tablets */
@media all and (max-width: 1000px) {
	
	/*start extra1*/
	.extra1 {
		margin-top: 20px;
	}
	.extra1 .flex-container .flex-list {
		width: 50%;
		flex: none;
		padding: 20px;
	}
	
	.extra1 .flex-container .tim-card {
		text-align: center;
		padding: 40px;
	}
	
	.extra1 .flex-container img {
		max-width: 50%;
	}
	/*end extra1*/
}

/* For Smartphones */
@media all and (max-width: 670px) {
	
	/*start extra1*/
	.extra1 {
		margin-top: 50px !important;
	}
	
	.extra1 .flex-container .flex-list {
		width: 100%;
	}
	/*end extra1*/
}
