/*------------- start default.css ------------------*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Console", Monaco, monospace;
  background-image: url("../img/bg.svg");
  background-repeat: repeat-y;
}

a {
  text-decoration: none;
}

.fa {
  margin-right: 5px;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  color: #666666;
  font-size: 26px;
  /*font-weight:700;*/
}

hr.line {
  background: -webkit-linear-gradient(to right, #4776E6, #8E54E9);
  background: linear-gradient(to right, #4776E6, #8E54E9);
  height: 5px;
  border-radius: 10px;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.9);
  background-color: #8E54E9;
  box-shadow: 0 2px 25px rgba(115, 104, 255, 0.2);
}
.btn.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}

.btn:hover {
  opacity: 1;
}

.btn-default {
  background: -webkit-linear-gradient(to right, #4776E6, #8E54E9);
  background: linear-gradient(to right, #4776E6, #8E54E9);
  color:#ecf0f1;
}

.text-default {
  color:#8E54E9;
}

.text-abu {
  color:#95a5a6;
}

::placeholder {
  color: lightgray;
  opacity: 1;
}
/*------------- end default.css ------------------*/

/*------------- start header css ------------------*/
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon{
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

/*------------- end header css -------------------*/


/*------------- start utama css ------------------*/

.utama {

}

/*------------- end utama css ---------------------*/

/*------------- start extra1 css ------------------*/

.extra1 {
  margin-top: 100px;
}

.extra1 .tim-section {
  margin-top:50px;
}

.extra1 .flex-container {
  display: flex;
  flex-wrap: wrap;
}

.extra1 .flex-container .flex-list {
  width: 20%;
  padding: 10px;
  flex: auto;
}

.extra1 .flex-container .tim-card {
  border-radius: 7px;
  background-color: white;
  text-align: center;
  border: 1px solid whitesmoke;
  transition: transform 0.2s;
  padding: 20px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

.extra1 .flex-container img {
  max-width: 80%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.extra1 .flex-container .nama{
  font-size: 12px;
  font-weight: bold;
  display: block;
}

.extra1 .flex-container .email{
  margin-top: 10px;
  font-size: 10px;
  font-weight: bold;
  display: block;
}

.extra1 .flex-container div:hover {
  transform: scale(1.1);
}

/*------------- end extra1 css --------------------*/


/*------------- start extra2 css ------------------*/

.extra1 {

}

/*------------- end extra2 css --------------------*/


/*------------- start footer css ------------------*/
footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

/*------------- end footer css ------------------*/
