/*------------- start header css ------------------*/
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon{
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

/*------------- end header css -------------------*/


/*------------- start utama css ------------------*/

.utama {

}

/*------------- end utama css ---------------------*/

/*------------- start extra1 css ------------------*/

.extra1 {

}

/*------------- end extra1 css --------------------*/


/*------------- start extra2 css ------------------*/

.extra1 {

}

/*------------- end extra2 css --------------------*/


/*------------- start footer css ------------------*/
footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: blue;
}
p  {
  letter-spacing: 3px;
  color: #ecf0f1;
}

/*------------- end footer css ------------------*/
