/*------------- start default css ------------------*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

/*------------- end default css -------------------*/


/*------------- start header css ------------------*/
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon{
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

/*------------- end header css -------------------*/


/*------------- start utama css ------------------*/

.utama {

}

/*------------- end utama css ---------------------*/

/*------------- start extra1 css ------------------*/

.extra1 {

}

/*------------- end extra1 css --------------------*/


/*------------- start extra2 css ------------------*/

.extra1 {

}

/*------------- end extra2 css --------------------*/


/*------------- start footer css ------------------*/
footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

/*------------- end footer css ------------------*/
