/*------------- start header css ------------------*/
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon{
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

/*------------- end header css -------------------*/


/*------------- start utama css ------------------*/


.utama {
  margin-top: 60px;
}

.utama .slideshow-container {
  position: relative;
  margin: auto;
}

.utama .slide {
  display: none;
}

.utama img {
  vertical-align: middle;
  width: 100%;
}

.utama .prev, .utama .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.utama .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.utama .prev:hover, .utama .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.utama .controls {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 5;
}

.utama .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.utama .active {
  background-color: #717171;
}

.utama .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*------------- end utama css ---------------------*/

/*------------- start extra1 css ------------------*/

.extra1 {

}

/*------------- end extra1 css --------------------*/


/*------------- start extra2 css ------------------*/

.extra1 {

}

/*------------- end extra2 css --------------------*/


/*------------- start footer css ------------------*/
footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

/*------------- end footer css ------------------*/
